@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100vw;
    padding: 5vh 0;
}

.header a{
    text-decoration: none;
}

.header h1{
    font-size: 50px;
    text-align: center;
    color: black;
    font-family: "Jura", sans-serif;
}

.gliederung {
display: flex;
}

.gliederung a{
    text-decoration: none;
    }

.gliederung h2 {
    font-size: 2.8vh;
    font-family: "Jura", sans-serif;
    color: white;
    background-color: black;
    border-radius: 50%;
    height: 25vh;
    width: 11vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms;
    border: 1vh double white;
}
.gliederung h2:hover {
    font-size: 4.5vh;
    height: 37vh;
    width: 17vw;
    box-shadow: 0 2.5vh 20vh black;
    border: 1.5vh double white;
    font-weight: bold;
}

#thema1 {
    position: absolute;
    left: 30vw;
    top: 45vh;
}
#thema1:hover {
    position: absolute;
    left: 27vw;
    top: 39vh;
}
#thema2 {
    position: absolute;
    left: 45vw;
    top: 25vh;
}
#thema2:hover {
    position: absolute;
    left: 42vw;
    top: 19vh;
}
#thema3 {
    position: absolute;
    top: 45vh;
    left: 60vw;
}
#thema3:hover {
    position: absolute;
    left: 57vw;
    top: 39vh;
}
#thema4 {
    position: absolute;
    top: 60vh;
    left: 45vw;
}
#thema4:hover {
    position: absolute;
    left: 42vw;
    top: 53vh;
}

.eins {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    left: 20vw;
    top: 40vh;
}
.zwei {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    left: 12vw;
    top: 58vh;
}
.drei {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 70vh;
    left: 15vw;
}
.vier {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    left: 90vw;
    top: 67vh;
}
.fünf {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 30vh;
    left: 75vw;
}
.sechs {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    left: 30vw;
    top: 27vh;
}
.sieben {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 75vh;
    left: 80vw;
}
.acht {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    left: 85vw;
    top: 35vh;
}
.neun {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 15vh;
    left: 10vw;
}